<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						
<mapper namespace="GroupBuying_mapper">

	<insert id="insert_GroupBuying" parameterType="GroupBuyingDto">
		insert into GroupBuying_board
		values ( GroupBuying_board_seq.NEXTVAL, #{title}, #{maintext}, 0 )
	</insert>
	
	<select id="select_GroupBuying" resultType="GroupBuyingDto">
		select * from GroupBuying_board order by no asc
	</select>

	<select id="select_GroupBuying_choice" resultType="GroupBuyingDto" parameterType="int">
		select * from GroupBuying_board where no = #{value}
	</select>

</mapper>